<h1>
  {{title}}
</h1>

<md-tab-group>
  <md-tab label="Revenue">
    <h1>Some tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Profit">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="CLV">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="CPA">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Market Share">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>

<router-outlet></router-outlet>
