
<md-toolbar>
  <p>Made Simple Group KPIs and Drivers</p>

  <div class="nav-right">
  <my-date-range-picker [options]="myDateRangePickerOptions"
   (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
  </div>
</md-toolbar>

<md-tab-group>
  <md-tab label="Revenue">
    <app-revenue-view></app-revenue-view>
  </md-tab>
  <md-tab label="Profit">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="CLV">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="CPA">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Market Share">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>

Basic: {{ basic }}
Risk-free: {{ riskfree }}

{{ startString }}
{{ endString }}

<router-outlet></router-outlet>
